.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.animate-box {
  opacity: 0;
}
#fh5co-dialog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  z-index: 999999;
}
#fh5co-dialog .dialog {
  min-width: 400px;
  min-height: 200px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
}
#fh5co-dialog .dialog .dialog-header {
  background-color: #eeeeee;
  padding: 10px 20px;
  border-bottom: 1px solid #ccc;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
#fh5co-dialog .dialog .dialog-header .dialog-title {
  font-weight: 600;
}
#fh5co-dialog .dialog .dialog-body {
  padding: 20px;
}
.header {
  display: flex;
  background-color: #fff;
  padding: 0 50px;
  height: 64px;
}
.header .logo {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Playfair Display", times, serif;
  font-size: 25px;
  color: #000;
  position: relative;
  top: -30px;
}
.header .logo a {
  color: #000 !important;
}
.header .more {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.header .login-btn {
  line-height: 64px;
  margin-left: auto;
}
.header .login-btn .fh5co-nav-toggle {
  position: relative;
  top: -2px;
  display: inline-block;
  padding: 0;
  margin-right: 20px;
  height: 100%;
}
.main {
  width: 88vw;
  margin: 20px auto 40px;
  background-color: #f0f2f5;
  padding: 20px 40px;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
}
.main .search {
  display: flex;
  padding: 16px 0;
}
.main .search .layui-input:hover {
  border-color: #3db389 !important;
}
.main .more-class {
  padding: 24px;
  background-color: #fff;
  margin-bottom: 20px;
  box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
}
.main .more-class .class-title {
  flex: 0 0 60px;
  font-weight: 600;
  font-size: 16px;
}
.main .more-class .class-span {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  cursor: pointer;
}
.main .more-class .class-span:hover {
  text-decoration: underline;
}
.collection {
  font-size: 18px;
  margin: 0 40px;
  cursor: pointer;
}
.username {
  cursor: pointer;
  padding: 0 10px !important;
}
#laypage {
  text-align: center;
}
.juz {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.flex {
  display: flex;
}
.layui-nav .layui-nav-item {
  line-height: 64px;
}
.layui-nav .layui-nav-item a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}
.layui-nav .layui-nav-item a:hover,
.layui-nav .layui-this a {
  color: #3db389;
}
.header-top {
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 9999;
  box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5);
  padding: 2em 3em ;
}
.detail-table {
  width: 100%;
  background: #f0f2f5;
  padding: 20px;
  margin-bottom: 20px;
}
.detail-table .detail-table-bordered {
  background-color: #fff;
  padding: 20px;
}
.detail-table .detail-table-bordered .detail-table-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.detail-table .detail-table-bordered .detail-table-header .detail-table-title {
  overflow: hidden;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5715;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.detail-table .detail-table-bordered .detail-table-header .collectIcon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 28px;
}
.detail-table .detail-table-bordered .detail-table-view {
  border: 1px solid #f0f0f0;
  width: 100%;
  overflow: hidden;
  border-radius: 2px;
}
.detail-table .detail-table-bordered .detail-table-view table {
  table-layout: auto;
  width: 100%;
  text-align: left;
}
.detail-table .detail-table-bordered .detail-table-view .detail-table-row {
  border-bottom: 1px solid #f0f0f0;
}
.detail-table .detail-table-bordered .detail-table-view .detail-table-row:last-child {
  border-bottom: none;
}
.detail-table .detail-table-bordered .detail-table-view .detail-table-row .detail-table-item-label {
  width: 200px;
  background-color: #fafafa;
  padding: 16px 24px;
  border-right: 1px solid #f0f0f0;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5715;
  text-align: start;
}
.detail-table .detail-table-bordered .detail-table-view .detail-table-row .detail-table-item-content {
  padding: 16px 24px;
}
.detail-table .detail-table-bordered .detail-table-view .detail-table-row .detail-table-item-content span span:hover {
  text-decoration: underline;
}
.detail-table .detail-btn {
  text-align: left;
  margin-top: 20px;
}
.detail-preview {
  width: 100%;
  background: #f0f2f5;
  padding: 20px;
  text-align: left;
}
.detail-preview .detail-preview-content {
  padding: 20px;
  background-color: #fff;
}
.detail-preview .detail-preview-content h2 {
  margin: 0 0 20px;
}
.detail-preview .detail-preview-content img {
  width: 100%;
  object-fit: cover;
}
.list-empty-image svg {
  height: 100%;
  margin: auto;
}
.list-empty-image {
  height: 400px;
  margin-bottom: 8px;
  text-align: center;
}
.list-empty-description {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.lazyImgWrap {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .username {
    top: 1.2em !important;
  }
}
